.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue";
}

body {
    background: rgb(178, 175, 160);
    background: radial-gradient(circle, rgba(178, 175, 160, 1) 0%, rgba(154, 148, 137, 1) 56%, rgba(142, 134, 125, 1) 74%, rgba(114, 102, 97, 1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageContainer {
    background-color: white;
    height: 32rem;
    width: 34.375rem;
    border-radius: 1.25rem;
    padding: 0.3rem;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    padding-bottom: 0.2rem;
}

header div {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: flex-start;
    padding: 0 0.5rem;
    flex-direction: column;
}

h1 {
    max-width: 12.5rem;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 0.625rem;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

li {
    padding: 0.5rem;
    transition: 1s;
    display: flex;
    justify-content: center;
}

li a {
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
    padding: 0.625rem;
    box-sizing: border-box;
}

li a::after {
    content: "";
    display: block;
    height: 0.25rem;
    width: 100%;
    background-color: black;
    transform: scale(0);
    transition: 0.7s;
}

li a:hover::after {
    transform: scale(1);

}

#littleTextTitle {
    font-size: 2rem;
}

h2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.2rem;
}

h2 span {
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    margin-left: 1rem;
    color: black;
}

#accountData {
    display: flex;
    gap: 0.5rem;
}

#accountData img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

#hamburgerMenu {
    font-size: 1.8rem;
}

#sideHeading {
    position: absolute;
    left: 5%;
    top: 10%;
    font-size: 2rem;
    font-family: "Protest Revolution"
}

#sneakersImg {
    width: 19rem;
}

main>section {
    display: flex;
}

#sneakersTitle {
    box-sizing: border-box;
    padding: 0.1rem;
    text-align: center;
}

#sneakersText p {
    font-size: 0.79rem;

}

#sneakersText {
    max-width: 16rem;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    padding-top: 0;
    text-align: center;
}


#boxingGloves {
    width: 12.5rem;
}

#boxingGloves+p {
    writing-mode: vertical-lr;
    font-size: 1.37rem;
}

#tennisPart>p {
    font-size: 1.33rem;
    margin-top: -0.25rem;
}

#tennisPart>p strong {
    margin-right: 0.1rem;
    text-underline-offset: 0.3rem;
}

#tennisPart {
    margin-left: 0.2rem;
}



p strong {
    text-decoration: underline;
}

#sneakersImg,
#yogaMatImg,
#boxingGloves {
    height: auto;
}

#yogaMatImg {
    width: 17.5rem;
    height: 11rem;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }

    #sideHeading {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 10px;
    }
}